<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://kit.fontawesome.com/f48ba3e534.js" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body onload="enabledEditMode();">
        <div>
            <button onclick="execCmd('bold');"><i class="fa fa-bold"></i></button>
            <button onclick="execCmd('italic');"><i class="fa fa-italic"></i></button>
            <button onclick="execCmd('underline');"><i class="fa fa-underline"></i></button>
            <button onclick="execCmd('justifyLeft');"><i class="fa fa-align-left"></i></button>
            <button onclick="execCmd('justifyCenter');"><i class="fa fa-align-center"></i></button>
            <button onclick="execCmd('justifyRight');"><i class="fa fa-align-right"></i></button>
            <button onclick="execCmd('insertUnorderedList');"><i class="fa fa-list-ul"></i></button>
            <button onclick="execCmd('insertOrderedList');"><i class="fa fa-list-ol"></i></button>
            <button onclick="execCmd('insertHorizontalRule');">HR</button>
            <select onchange="execCommandWithArg('fontName',this.value);">
                <option value="Arial">Arial</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Courier">Courier</option>
                <option value="Georgia">Georgia</option>
                <option value="Tahoma">Tahoma</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Verdana">Verdana</option>
            </select>
            <select onchange="execCommandWithArg('fontSize',this.value);">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            Fore Color: <input type="color" onchange="execCommandWithArg('foreColor',this.value);">
            Background: <input type="color" onchange="execCommandWithArg('hiliteColor',this.value);">
            <!--
            <button onclick="execCommandWithArg('insertImage',prompt('Enter the image URL',''));"><i
                    class="fa fa-file-image-o"></i></button>
            -->
            <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"
                      style="display: none;"></p>
            <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
            <script>
                let loadFile = function (event) {
                    for (let i = 0; i < event.target.files.length; i++) {
                        <!-- myFrame 에서 바디를 찾아서 거기다 append -->
                        let body = $('#myFrame').contents().find("body");
                        body.append(`<p><img src=${URL.createObjectURL(event.target.files[i])} style="max-width: 500px; max-height: 400px;"/></p>`)
                    }
                }
            </script>
        </div>
        <iframe id="myFrame" name="richTextField" style="width: 1000px; height: 500px;"></iframe>
        <script type="text/javascript">
            function enabledEditMode() {
                richTextField.document.designMode = 'On';
            }

            function execCmd(command) {
                richTextField.document.execCommand(command, false, null);
            }

            function execCommandWithArg(command, arg) {
                richTextField.document.execCommand(command, false, arg);
            }
        </script>
    </body>
</html>